
.services{
    position: relative;
    width: 100%;
    min-height: 100vh;

}
/* horizontal */

.container_services{
	width: 400%;
	display: flex;
	flex-wrap: nowrap;
    height: 100vh;
    scroll-behavior:auto !important;
    position: relative;
}

.services::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: transparent url("../assets/src/backgrounds/noise.png") repeat 0 0;
    background-repeat: repeat;
    animation: _noiseAnim_judif_1 .2s infinite;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: .93;
}

/* container title */

.serviceTitle{
    width: 100%;
    position: relative;
    min-height: 20vh;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 10rem 0;
    padding-bottom: 5rem;

}


/* text */

.services_title{
    font-size: 10rem;
    font-family: "Mongoose-bold";
    letter-spacing: 1.6px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin-bottom: 4rem ;
    margin-right: 10%;
    opacity: 1;
    color: rgb(255, 255, 255);
    z-index: 300;
    top: 1rem;
}

.line_title_service{
    width: 0%;
    height: 13rem;
    position: absolute;
    margin-right: -15rem;
    top: 10rem;
    z-index: 200;
    background-color: rgb(125, 186, 255);
    transform: skew(10deg);
    
}


/* panel config */

.panel{
    width: 100%;
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10rem 0;
    gap: 10rem;
}



/* panel 1 */

.titlePanel1{
    font-size: 8rem;
    font-family: "Mongoose-bold";
    letter-spacing: 3.6px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin-bottom: 4rem ;
    opacity: 1;
    color: rgb(255, 255, 255);
    top: 5rem;
    margin-right: 30%;
    transform: skewY(-1deg) !important;
    
}

.boxCuadro1{
    position: absolute;
    width: 5rem;
    height: 100%;
    border:5px solid rgb(255, 255, 255);
    border-right: none;
    left: -2.5rem;
    transform: skewY(-1deg) !important;
    top: -1rem;
}

.boxCuadro2{
    position: absolute;
    width: 5rem;
    height: 100%;
    border:5px solid rgb(255, 255, 255);
    border-left: none;
    right:  -2.1rem;
    transform: skewY(-1deg) !important;
    top: -1rem;
}



/* punt */
.circle-wrapper {
    position: absolute;
    top: 95vh;
    left: 50%;
    width: 200vw;
    height: 200vw;
    opacity: 1;
    border-radius: 100%;
    transform: translate(-50%, 0);

}
.punt1 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.punt1::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: transparent url("../assets/src/backgrounds/noise.png") repeat 0 0;
    background-repeat: repeat;
    animation: _noiseAnim_judif_1 .2s infinite;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: rgb(255, 251, 0);

}



@media screen and (max-width:550px) {

 

}

  
@media screen and (max-width:370px) {

    
}
  
