.about{
  position: relative;
  height: 100vh;
  width: 100%;
}


.containerAbout{
    width: 100%;
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
   /*  justify-content: center; */
    padding: 8rem 0;
    background: rgb(8, 8, 8);
    gap: 10rem;
}

.containerAbout::after{
  content: "";
  position: absolute;
  top: 0rem;
  width: 100%;
  border-top: 4px solid rgb(108, 189, 255);
  filter: drop-shadow( 0 0 10px rgb(108, 189, 255));
}

.about_title{
    font-size: 10rem;
    font-family: "Mongoose-bold";
    letter-spacing: 1.6px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin-bottom: 4rem ;
    margin-right: 50%;
    top: 2.5rem;
    opacity: 1;
    color: rgb(244, 250, 253);
    z-index: 300;
}


.lineIz-about{
  width: 0%;
  height: 13rem;
  position: absolute;
  left: -8rem;
  top: 10rem;
  z-index: 200;
  background-color: rgb(125, 186, 255);
  transform: skew(-10deg) !important;
}




@media screen and (max-width:1440px) {
  .about_title{
    font-size: 10rem;
  }

  .lineIz-about{
    width: 32rem;
    height: 4rem;
  }
  
  .lineDer-about{
    width: 52rem;
    height: 4rem;
  }
  
  
}

@media screen and (max-width:1170px) {
  .about_title{
    font-size: 8rem;
    top: 2rem;
  }
  .lineIz-about{
    width: 32rem;
    height: 3.5rem;
  }
  
  .lineDer-about{
    width: 52rem;
    height: 3.5rem;
  }
  
}



@media screen and (max-width:870px) {
    .about_title{
      font-size: 7rem;
      margin-right: 23%;
      top: 2rem;
    }

    .lineDer-about{
      width: 42rem;
      height: 3.5rem;
    }
    
}
  

  
  @media screen and (max-width:550px) {
    .about_title{
      margin-right: 0%;
      font-size: 5rem;
      letter-spacing: 5.5px;
    }

    .lineIz-about{
      width: 27rem;
      height: 3.5rem;
    }

    .lineDer-about{
      width: 32rem;
      height: 3.5rem;
    }


  }
  
  
  @media screen and (max-width:370px) {

    .about_title{
      margin-right: 0%;
      font-size: 4.5rem;
      letter-spacing: 5.5px;
    }

    .lineIz-about{
      width: 22rem;
      height: 3.5rem;
    }

    .lineDer-about{
      width: 27rem;
      height: 3.5rem;
    }

  }
  
  
  @media screen and (max-width:300px) {
      
    .about_title{
      margin-right: 0%;
      font-size: 4rem;
      letter-spacing: 5.5px;
    }

    .lineDer-about{
      width: 23rem;
      height: 3.5rem;
    }
}

