.about{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: black;
}


.containerAbout{
    width: 100%;
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 0rem;
    padding: 5rem 0;
}


.containerAbout::after{
  content: "";
  position: absolute;
  top: 0rem;
  width: 100%;
  border-top: 4px solid rgb(108, 189, 255);
  filter: drop-shadow( 0 0 10px rgb(108, 189, 255));
}


/* title quienes somos */


.containerTitle_about{
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 16rem;
}


.container_titulo_line{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  left: 8rem;

}


.box_title_about{
  position: relative;
  width: 50%;
  height: 100%;
  top: 12rem;
}


.quienes, .somos{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: row;
  line-height: 13rem;
}

.somos{
  left: 1rem;
}

.line_title_abut{
  width: .5rem;
  height: 28rem;
  background-color: rgb(108, 189, 255);
  top: 11rem;
  left: 3rem;
  position: relative;
}

.about_title{
    font-size: 12rem;
    font-family: "Mongoose-bold";
    letter-spacing: 1.6px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    opacity: 1;
    color: rgb(244, 250, 253);
    z-index: 300;
} 

/* logo bottom */




.logo_about_top{
  position: absolute;
  object-fit: contain;
  top: 6rem;
  left: 6rem;
  width: 60rem;
}

.logo_about_bottom{
  position: relative;
  object-fit: contain;
  width: 33rem;
  left: 7rem;
}



/* text about */

.text_about{
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}


.box_text_about{
  width: 90%;
  position: absolute;
  display: flex;
  top:95vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5rem 0;  
}

.cadenaAbout{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 2rem 0;
  color: rgb(34, 34, 34);
}

.p_text_about{
    font-family: "montserrat-semiBold";
    letter-spacing: 1px;
    font-size: 2rem;
    line-height: 3.5rem;
    /* text-transform: uppercase; */
}


/* vertical */

.academia_vertical{
  font-weight: bold;
  position: absolute;
  opacity: 1;
  bottom: 16rem;
  left: 3rem;
  z-index: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .1rem;

}

.aca_str{
  color: transparent;  
  font-size: 1.8rem;
  font-family: "Mongoose-bold";
  text-transform: uppercase;
  text-align: centerf;
  background: linear-gradient(0deg, rgb(122, 122, 122) 0%, rgb(230, 230, 230) 53%, rgb(105, 105, 105) 100%);
  background-clip: text;
  -webkit-background-clip: text;
}






@media screen and (max-width:1440px) {

  
}

@media screen and (max-width:1170px) {

  
}



@media screen and (max-width:870px) {

}
  

  
@media screen and (max-width:550px) {


}
  
  
@media screen and (max-width:370px) {



}
  
  
@media screen and (max-width:300px) {
      

}

