.about{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: black;
}


.containerAbout{
    width: 100%;
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 0rem;
    padding: 5rem 0;
}


.containerAbout::after{
  content: "";
  position: absolute;
  top: 0rem;
  width: 100%;
  border-top: 4px solid rgb(108, 189, 255);
  filter: drop-shadow( 0 0 10px rgb(108, 189, 255));
}


/* title quienes somos */


.containerTitle_about{
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 17rem;
}


.container_titulo_line{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  left: 8rem;
  gap: 1rem;

}


.box_title_about{
  position: relative;
  width: 50%;
  height: 100%;
  top: 12rem;
}


.quienes, .somos{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: row;
  line-height: 13rem;
}

.somos{
  left: 1rem;
}

.line_title_abut{
  width: .5rem;
  height: 28rem;
  background-color: rgb(108, 189, 255);
  top: 11rem;
  position: relative;
  left: 3.5rem;
}

.about_title{
    font-size: 12rem;
    font-family: "Mongoose-bold";
    letter-spacing: 1.6px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    opacity: 1;
    color: rgb(244, 250, 253);
    z-index: 300;
} 

/* logo bottom */




.logo_about_top{
  position: absolute;
  object-fit: contain;
  top: 6rem;
  left: 6rem;
  width: 60rem;
}

.logo_about_bottom{
  position: relative;
  object-fit: contain;
  width: 33rem;
  left: 7rem;
}



/* text about */



.text_about{
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}


.box_text_about{
  width: 92%;
  position: absolute;
  display: flex;
  top:90vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5rem 0;  
}

.cadenaAbout{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 2rem 0;
  color: rgb(34, 34, 34);
}

.p_text_about{
    font-family: "montserrat-semiBold";
    letter-spacing: .7px;
    font-size: 1.8rem;
    line-height: 3.5rem;
    /* text-transform: uppercase; */
}



@media screen and (max-width:1500px) {

  .containerAbout {
    padding: 3rem 0;
  }

  .logo_about_top {
    top: 6rem;
    left: 6rem;
    width:50rem;
  }

  .box_text_about {
    top: 105vh;
    width: 100%;
    padding-right: 3rem;
  }

  .box_title_about {
    position: relative;
    width: 50%;
    height: 100%;
    top: 12rem;
  }
  
  .p_text_about {
    font-size: 1.8rem;
    line-height: 3.4rem;
  }

  .about_title {
    font-size: 10rem;
  }

  .containerTitle_about {
    width: 80%;
    gap: 12rem;
  }

  .container_titulo_line {
    left: 4rem;
    gap: 1rem;
  } 

  .quienes, .somos {
    line-height: 12rem;
  }

  .line_title_abut {
    left: 0rem;
  }

  .logo_about_bottom {
    position: relative;
    object-fit: contain;
    width: 33rem;
    left: 3rem;
  }
}

@media screen and (max-width:1270px) {
  .line_title_abut {
    left: -3rem;
  }

  .box_text_about {
    top: 110vh;
    width: 90%;
    padding-right: 0rem;
  }

  .containerAbout {
    gap: 3rem;
  }

  
  .p_text_about {
    font-size: 1.6rem;
    line-height: 3.2rem;
  }

  .logo_about_bottom {
    width: 30rem;
    left: 3rem;
  }

  .logo_about_top {
    top: 6rem;
    left: 4rem;
    width: 45rem;
  }

}



@media screen and (max-width:1070px) {
  .line_title_abut {
    left: -4rem;
  }

  .box_text_about {
    top: 117vh;
    width: 90%;
    padding-right: 0rem;
  }

  .logo_about_bottom {
    width: 27rem;
    left: 3rem;
  }

  .containerAbout {
    gap: 3rem;
  }


}

@media screen and (max-width:960px) {
  .line_title_abut {
    left: -2rem;
    height: 17rem;
  }

  .text_about {
    width: 100%;
    min-height: 80vh;
    padding-top: 5rem;
  }

  .box_text_about {
    top: 117vh;
    width: 94%;
    padding-right: 1rem;
  }

  .logo_about_bottom {
    width: 27rem;
    left: 2rem;
  }

  .containerAbout {
    gap: 3rem;
  }

  .p_text_about {
    font-size: 1.65rem;
    line-height: 3rem;
  }

  .logo_about_top {
    top: 8rem;
    left: 1rem;
    width: 42rem;
  }
  
  .about_title {
    font-size: 7rem;
  }

  .containerTitle_about {
    width: 80%;
    gap: 16rem;
  }

  .container_titulo_line {
    left: 2rem;
    gap: 1rem;
  } 

  .quienes, .somos {
    line-height: 8rem;
  }

}
  

  
@media screen and (max-width:900px) {
  .containerAbout {
    flex-direction: column;
  }

  .box_text_about{
    display: none;
  }

  .textComplete_about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem ;
  }

  .textComplete_about p {
    width: 80%;
    font-family: "montserrat-semiBold";
    letter-spacing: .7px;
    font-size: 1.65rem;
    line-height: 3rem;
    color: white;
  }

  .logo_about_top {
    display: none;
  }
  
  .containerTitle_about {
    width: 100%;
    min-height: 100%;
    gap: 16rem;
    z-index: 10;
  }
    
  .line_title_abut {
    left: 4rem;
    height: 20rem;
  }

  .box_text_about {
    top: 0;
    width: 100%;
    padding: 0;
    padding-right: 0rem;
    opacity: 0;
  }

  .about_title {
    font-size: 9rem;
  }

  .quienes, .somos {
    line-height: 10rem;
  }

  .p_text_about {
    color: white;
    opacity: 0;
  }

  .cadenaAbout {
    padding: 2rem ;
    width: 80%;
  }

  .container_titulo_line {
    left: 0rem;
  }

  .logo_about_bottom {
    left: 0rem;
  }
}
  
  
@media screen and (max-width:710px) {

  .line_title_abut {
    left: 2rem;
    height: 20rem;
  }

  .box_text_about {
    top: 0;
    width: 100%;
    padding: 0;
    padding-right: 0rem;
    opacity: 0;
  }

  .about_title {
    font-size: 9rem;
  }

  .quienes, .somos {
    line-height: 10rem;
  }

  .p_text_about {
    color: white;
    opacity: 0;
  }

  .logo_about_bottom {
    width: 27rem;
    left: 0rem;
  }

  .cadenaAbout {
    padding: 2rem ;
    width: 92%;
  }

  .textComplete_about p {
    width: 90%;
  }

}
  
  
@media screen and (max-width:610px) {
  .line_title_abut {
    left: 0rem;
  }

  .text_about {
    min-height: 100vh;
  }

  .textComplete_about p {
    width: 95%;
  }
}

  
@media screen and (max-width:510px) {
  .line_title_abut {
    left: -3rem;
  }

  .cadenaAbout {
    padding: 2rem;
    width: 98%;
  }
}


  
@media screen and (max-width:400px) {
  .line_title_abut {
    left: -5rem;
  }
}

@media screen and (max-width:320px) {
  .about_title {
    font-size: 7rem;
  }

  .quienes, .somos {
    line-height: 8rem;
  }

  .line_title_abut {
    left: -4rem;
    height: 18rem;

  }

}