.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    z-index: 99999999999 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader img{
    object-fit: contain;
    width: 27rem;
    height: 27rem;
    border-radius: 100%;
    filter: contrast(110%) brightness(110%) drop-shadow( 0 0 10px rgb(0, 0, 0));
    animation: rotateLogo 3s linear infinite ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}


.line_preload{
    position: relative;
    width: 30rem;
    height: 100vh;
    background-color: rgb(3, 163, 255);
    background-image: url("../assets/src/backgrounds/arcoRepeat.png");
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}




@keyframes rotateLogo {
    0%{
        scale: 1;
    }
    50%{
        scale: 1.1;
    }
    100%{
        scale: 1;

    }
}





@media screen and (max-width:1440px) {
    .preloader img{
        width: 27rem;
    }
}


@media screen and (max-width:480px) {
    .preloader img{
        width: 22rem;
    }
}