.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    z-index: 99999999999 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader::after{
    content: "";
    position: absolute;
    width: 100%;
    height: .5rem;
    background-color: #36aeff;
    background: linear-gradient(90deg, rgba(54,174,255,1) 0%, rgba(255,255,255,1) 50%, rgba(54,174,255,1) 100%);
    z-index: -1;
}

.preloader img{
    object-fit: contain;
    width: 30rem;
    height: 30rem;
    filter: contrast(110%) brightness(110%) drop-shadow( 0 0 10px rgb(0, 0, 0));
    animation: rotateLogo 3s linear infinite ;
}


@keyframes rotateLogo {
    0%{
        scale: 1;
    }
    50%{
        scale: 1.1;
    }
    100%{
        scale: 1;

    }
}





@media screen and (max-width:1440px) {
    .preloader img{
        width: 27rem;
    }
}


@media screen and (max-width:480px) {
    .preloader img{
        width: 22rem;
    }
}