.home{
    width: 100%;
    position: relative;
    min-height: 100vh;
    background-color: #0d1b3e;
    background-color: black;
    background-image: url("../assets/src/backgrounds/b2.png");
    background-size: cover;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
}

.home::after{
    content: "";
    position: absolute;
    bottom: -11rem;
    left: -10rem;
    width: 150%;
    height: 15rem;
    background-color: black;
    filter: blur(21px);
    z-index: 200;

}
