.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: black;
}

/* .home::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/src/backgrounds/effectVidrio.png");
    background-size: cover;
}
 */

 .backgroundPrincipal{
    object-fit: contain;
    position: absolute;
    right: -3rem;
}


.containerHome{
    width: 100%;
    min-height: 100vh;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(2, 2, 2);
    filter: contrast(106%) brightness(108%);
}



.webGlScene{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 9991  ;
    transition: all .1s ease;
    filter: brightness(110%) contrast(30%);

}


.anda{
    position: absolute;
    bottom: 3rem;
    right: 5rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: animAnd 3500ms linear infinite;
    opacity: .4;
}

.anda p{
    color: rgb(255, 255, 255);
    line-height: 2rem;
    font-family: "reenie";
    font-size: 4rem;
    letter-spacing: 1px;
}

.anda svg{
    width: 23.5rem;
}

@keyframes animAnd {
    0%{
        opacity: .5;
    }
    50%{
        opacity: .9;
    }
    100%{
        opacity: .5;
    }
    
}


/* title */

.boxText_home{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.2rem;
    padding: 2rem;
    margin-left: 3%;
    margin-top: -14%;
    width: 65%;
    color: rgb(255, 255, 255);
    z-index: 9999 !important;

}

.titleHome{
    position: relative;
    font-size: 10rem;
    letter-spacing: 2px;
    font-family: "Mongoose-bold";
    text-transform: uppercase;
}


.subtitle_home{
    position: relative;
    font-size: 2.2rem;
    letter-spacing: 1px;
    font-family: "ArticulatCF-bold";
    top: -1.5rem;
}

.description_hero{
    position: relative;
    font-size: 1.4rem;
    letter-spacing: .5px;
    font-family: "montserrat";
    width: 60%;
    text-align: inherit;
    line-height: 3rem;
    color: rgb(228, 228, 228);
}

.description_hero span{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
}



@media screen and (max-width:1440px) {
    
    /* title */

    .boxText_home{
        gap: 1.2rem;
        padding: 2rem;
        margin-left: 5%;
        margin-top:-13%;
    }

    .titleHome{
        font-size: 8rem;
        letter-spacing: 2px;
    }


    .containerHome {
        width: 100%;
        min-height: 100vh;
        background-size: cover;
        background-position: 0% 0%;
    }
}


@media screen and (max-width:900px) {
    
    /* title */

    .boxText_home{
        gap: 1.2rem;
        padding: 2rem;
        margin-left: 0%;
        margin-top:-13%;
        width: 95%;
    }

    .titleHome{
        font-size: 8rem;
        letter-spacing: 2px;
        width: 100%;
    }


    .subtitle_home{
        font-size: 2.2rem;
        letter-spacing: 1px;
        top: -1.5rem;
    }

    .description_hero{
        font-size: 1.4rem;
        letter-spacing: .5px;
        width: 60%;
        line-height: 3rem;
    }


    .containerHome {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}