.container_Faqs {
    margin: 0 auto;
    padding: 4rem;
    width: 80rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 4rem;
}

.container_Faqs h2{
    font-size: 3rem;
    letter-spacing: 1px;
    font-family: ArticulatCF-bold;
}
  
.box_faq .box_faq-item {
  border-bottom: 1px solid #e5e5e5;
}

.box_faq .box_faq-item button[aria-expanded=true] {
  border-bottom: 1px solid #03b5d2;
}


.box_faq button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #495768;
  font-size: 2.15rem;
  font-weight: 900;
  font-family: "montserrat";
  letter-spacing: 1px;
  border: none;
  background: none;
  outline: none;
}


.box_faq .box_faq-content p {
    margin: 2em 0;
    font-family: "montserrat";
    letter-spacing: .5px;
    line-height: 2.5rem;
    font-size: 1.6rem;
    font-weight: 700;
}

.box_faq button:hover, .box_faq button:focus {
  cursor: pointer;
  color: #03b5d2;
}

.box_faq button:hover::after, .box_faq button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}

.box_faq button .box_faq-title {
  padding: 1em 1.5em 1em 0;
}

.box_faq button .icon {
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_faq button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.box_faq button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.box_faq button[aria-expanded=true] {
  color: #03b5d2;
}

.box_faq button[aria-expanded=true] .icon::after {
  width: 0;
}

.box_faq button[aria-expanded=true] + .box_faq-content {
  opacity: 1;
  max-height: 20rem;
  transition: all 200ms linear;
}

.box_faq .box_faq-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
}


@media screen and (max-width:810px) {
  .container_Faqs {
      width: 60rem;
  }
}


@media screen and (max-width:600px) {
    .container_Faqs {
        width: 95%;
    }
}

@media screen and (max-width:550px) {
  .box_faq button {
    font-size: 1.5rem;
  }

  .box_faq .box_faq-content p {
    margin: 2em 0;
    line-height: 1.8rem;
    font-size: 1.3rem;
  }
  .container_Faqs {
    padding: 2rem;
    gap: 4rem;
  }
}


@media screen and (max-width:350px) {

    
    .box_faq button {
        font-size: 1.6rem;
    }
  
    .box_faq button[aria-expanded=true] + .box_faq-content {
        opacity: 1;
        max-height: 25rem;
        transition: all 200ms linear;
    }

    .box_faq .box_faq-content p {
        margin: 2em 0;
        line-height: 2rem;
        font-size: 1.3rem;
    }

 
}