.footer{
    position: relative;
    width: 100%;
    min-height: 40vh;
    background-color: rgb(0, 0, 0);
    border-top: 1px solid rgb(19, 22, 24);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px -2px 5px 0px #a6bfdf;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 4rem;
    padding-top: 6rem;
    gap: 3rem;
}

.title_footer h2{
    color: white;
    gap: 2rem;
    list-style: none;
    font-size: 2rem;
    font-family: "ArticulatCF-bold";
    letter-spacing: 1px ;
    text-transform: uppercase;
}

.list_Footer{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
}

.list_Footer li{
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "montserrat";
}