.footer{
    position: relative;
    width: 100%;
    min-height: 40vh;
    background-color: rgb(0, 0, 0);
}

.nav_degree_footer{
    position: absolute;
    top: 0;
    width: 100%;
    background: rgb(5,194,254);
    background: linear-gradient(90deg, rgba(5,194,254,1) 0%, rgba(146,245,255,1) 14%, rgba(254,255,255,1) 16%, rgba(249,254,255,1) 30%, rgba(138,236,255,1) 32%, rgba(0,212,255,1) 43%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 52%, rgba(236,255,0,1) 56%, rgba(255,252,0,1) 69%, rgba(0,26,255,1) 70%, rgba(7,32,191,1) 86%, rgba(255,0,0,1) 87%);
    height: .2rem;
    filter: opacity(.8);
}