*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

html{
  font-size: 62.5%;

}



@font-face {
  font-family: 'ArticulatCF-bold';
  src: url('./components/assets/fonts/ArticulatCF-Bold.otf') format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'montserrat';
  src: url('./components/assets/fonts/Montserrat-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'montserrat-bold';
  src: url('./components/assets/fonts/Montserrat-Bold.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-semiBold';
  src: url('./components/assets/fonts/Montserrat-SemiBold.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'benton-bold';
  src: url('./components/assets/fonts/benton/bentonsansbold.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'benton-black';
  src: url('./components/assets/fonts/benton/BentonSans-Black.otf') format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'shentox-bold';
  src: url('./components/assets/fonts/benton/Shentox-bold.otf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* font title */

@font-face {
  font-family: 'Mongoose-bold';
  src: url('./components/assets/fonts/creativ/PPFormula.woff') format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* font service */

@font-face {
  font-family: 'Mongoose-black';
  src: url('./components/assets/fonts/creativ/Mongoose-Medium.woff2') format("truetype");
  font-weight: normal;
  font-style: normal;
}



::-webkit-scrollbar {
  width: 13px;
  border: 3px groove rgb(7, 7, 7);
  background-position: top;
  background-color: black;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #383838;
  border-radius: 18px;
}
::-webkit-scrollbar-thumb:active {
  background: #6CAAE4;
  border-radius: 18px;
}

::selection {
  color: rgb(0, 0, 0);
  background-color: #fffb00;
}

::-moz-selection {
  color: rgb(0, 0, 0);
  background-color: #fffb00;
}




.App{
  overflow-x: hidden;
  background-color: rgb(8, 8, 8);
  overflow: hidden;

}

.ar{
  color: rgb(138, 208, 255);
}
.co{
  color:#fffb00;
}
