

.nav{
    position: fixed;
    width: 100%;
    height: 7rem;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(5px);
    transition: all .4s ease-in-out;
    z-index: 99999 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 4px solid black;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    scroll-behavior: smooth !important;
}



/* desktop */
a{
    text-decoration: none;
}

.titleNav_desktop{
    font-size: 2.6rem;
    color: rgb(0, 0, 0);
    font-family: bulevar;
    outline: none;
    text-transform: uppercase;
    position: relative;
    font-family: "shentox-bold";
    letter-spacing: 2.4px;
    left: 10rem;
}

.list_nav_desktop{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 0rem;
    position: relative;
    transition: all 1s ease;
    top: 0rem;
    right: 5rem;
}

.list_nav_desktop a{
    text-decoration: none;
}

.list_nav_desktop li{
    position: relative;
    font-size: 1.4rem;
    color: rgb(29, 29, 29);
    letter-spacing: .5px;
    font-family: "benton-black";
    outline: none;
    text-transform: uppercase;
    top:0rem;
    transition: all .4s ease;
    cursor: pointer;
    padding:2rem 1rem;
}


.list_nav_desktop a li:after {
  content: '';
  position: absolute;
  top: -.9rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3498db;
  z-index: -1;
  transform: skewX(-30deg);
  opacity: 0;
  height: 7rem;
  transition: opacity 0.3s;
}
.list_nav_desktop a:hover li{
  color: #fff;
}
.list_nav_desktop a:hover li:after{
  opacity: 1;
}
  

/* mobile */

.nav_active_mobile{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.938);
    backdrop-filter: blur(5px);
/*     border-bottom: 2px solid rgb(161, 225, 255); */
    z-index: 99999 !important;
    display: flex;
    justify-content: center;
    transition: all 255ms ease;
}

.nav_active_mobile::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 7rem;
    background-color: rgb(0, 0, 0);
    top: 0;
    z-index: -1;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    transition: all .5s ease;
}


.titleNav_mobile{
    font-size: 2rem;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-family: bulevar;
    outline: none;
    text-transform: uppercase;
    margin-left: 4rem;
    top:2.2rem;
    position: absolute;
    left: 0;
    font-family: "shentox-bold";
    font-weight: bold;
    transition: all 1.5s ease;
}

.titleNav_mobile-active{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-family: bulevar;
    outline: none;
    text-transform: uppercase;
    margin-left: 4rem;
    top:2.2rem;
    position: absolute;
    left: 0;
    font-family: "shentox-bold";
    font-weight: bold;
    transition: all 1.5s ease;
}


.toggle{
    position: absolute;
    width: 5rem;
    height: 5rem;
    right: 3rem;
    top: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .8rem;
    transition: all .3s ease;
    cursor: pointer;
    z-index: 999999 !important;
}


.line{
    width: 70%;
    height: .3rem;
    background-color: rgb(0, 0, 0);
    transition: all .3s ease;
}

.line1_active{
    position: relative;
    transform: rotate(45deg) translateY(.8rem);
    background-color: rgb(255, 254, 254);
    top: .7rem;
    transition: all .3s ease;
}

.line2_active{
    position: relative;
    background-color: rgb(255, 254, 254);
    transform: rotate(-45deg) translateY(-.9rem);
    top: .7rem;
    transition: all .3s ease;
}

.line3_active{
    opacity: 0;
    background-color: rgb(255, 254, 254);
    transition: all .1s ease;
}


.list_nav_mobile{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 4.5rem;
    position: fixed;
    top: 50%;
    transform: translate(0 , -50%);
    transition: all 1s ease;
}

.list_nav_mobile a{
    text-decoration: none;
}


.list_nav_mobile li{
    position: relative;
    font-weight: bold;
    transition: all .4s ease;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    font-family: bulevar;
    outline: none;
    text-transform: uppercase;
    font-family: "shentox-bold";
    letter-spacing: 2.4px;
    transition: all 2s ease;
}


.list_nav_mobile li:hover{
    text-shadow:  0 0 1rem rgb(5, 224, 240);
    transition: all .4s ease;
}


.nav_degree{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgb(5,194,254);
    background: linear-gradient(90deg, rgba(5,194,254,1) 0%, rgba(146,245,255,1) 14%, rgba(254,255,255,1) 16%, rgba(249,254,255,1) 30%, rgba(138,236,255,1) 32%, rgba(0,212,255,1) 43%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 52%, rgb(255, 229, 79) 56%, rgb(255, 253, 105) 69%, rgb(55, 93, 221) 70%, rgb(45, 68, 223) 83%, rgb(238, 77, 77) 87%);
    height: .3rem;
}


@media screen and (max-width:950px) {

    /* desktop */

    .titleNav_desktop{
        left: 5rem;
    }

    .list_nav_desktop{
        right: 5rem;
    }
    
}

@media screen and (max-width:600px) {
    .nav{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}


@media screen and (max-width:380px) {
    .list_nav_mobile li{
        font-size: 2rem;
    }
}